.tabcontent{
  display: none;
}

.removeButton{
  display:block;
  position:absolute;
  width:36px;
  height:36px;
  top:0;
  right:0;
  font-size:20px;
  color:#606060;
  text-align:center;
  text-decoration:none;
  border:2px solid #ededed;
  border-radius:4px;
  line-height:33px
}

.removeButton:hover{color:#ef0568}

#map {
  height: 50%;
  line-height: 50%;
  width: 50%;
}
#panel {
  position: center;
 top: 100px;
 left: 50%;
 z-index: 5;
 background-color: #fff;
 padding: 5px;
 border: 1px solid #999;
 text-align: center;
}


#panel, .panel {
 font-family: 'Roboto','sans-serif';
 line-height: 100px;
 padding-left: 70px;
}

#panel select, #panel input, .panel select, .panel input {
 font-size: 70px;
}

#panel select, .panel select {
 width: 70%;
}

#panel i, .panel i {
  font-size: 12px;
}
